.pageContainer {
  width: 100vw;
  height: calc(2rem + 1.41421356237 * 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 1px solid red;
}

.chartContainer {
  display: grid;
  width: 96vw;
  height: calc(1.41421356237 * 96vw);
  border: 3px solid pink;
}

.chartPlaceNameBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* border: 1px solid lightblue; */
}

.chartPlaceNameBox p {
  padding-bottom: 0.2rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  /* max-width: 80%; */
}

.placeName {
  /* max-height: 1rem; */
  text-align: left;
  text-overflow: ellipse;
  width: 100%;
  border-bottom: 0.1rem solid black;
  border-bottom-width: 100%;
}

.cityName{
  width: 100%;
  text-align: left;
  /* max-height: 1rem; */
  color: hsl(200, 40%, 30%);
  /* font-size: 0.8rem; */
  margin: 0.5rem
}

.chartBox{
  position: relative;
  /* background-color: aquamarine; */
}

.chartLine{
  position: relative;
  width: 100%;
  height: 0.1rem;
  background-color: black;
  top: calc(calc(100% - 0.3rem) / 2)
}