.PageContainer {
  width: 100vw;
  height: calc(2rem + 1.41421356237 * 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 1px solid red;
}

.ChartContainer {
  display: grid;
  width: 96vw;
  height: calc(1.41421356237 * 96vw);
  border: 3px solid pink;
}

.ChartPlaceName {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid lightblue;
}

.ChartPlaceName p {
  color: hsl(200, 40%, 30%);
  margin: 0.1rem;
  max-width: 80%;
}
