:root {
  --color-one: rgba(89, 77, 21, 0.3);
  --color-two: rgba(139, 110, 33, 0.3);
  --color-three: rgba(216, 176, 71, 0.3);
  --color-four: rgba(128, 52, 47, 0.3);
  --color-four-transp: hsla(4, 46%, 34%, 0.3);
  --color-five: rgb(13, 13, 13);
  --unit: 3.5rem;
  --little-border: 0.001rem
}
