:root {
  --unit: 3.5rem;
  --little-border: 0.001rem;
  --bg-color: white;
}

.chartContainer {
  border: 0.1rem solid var(--bg-color);
  font-family: monospace;
  background-color: var(--bg-color);
  /* border: 1px solid black; */
  display: grid;
  column-gap: 0.1rem;
  row-gap: 0.1rem;
}

.homeContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.placeName {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: rgb(84, 20, 20);
  background-color: white;
  width: 100%;
  height: 100%;
}

.placeArea {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  text-align: left;
  height: 100%;
  width: 100%;
  /* border-bottom: 0.1rem solid black; */
  /* border-left: 0.1rem solid black; */
  /* border-radius: 1rem; */
}

/* ------------SECOND PAGE------------ */
/* ------------SECOND PAGE------------ */
/* ------------SECOND PAGE------------ */
/* ------------SECOND PAGE------------ */

.secondContainer {
  width: 100rem;
  height: 100rem;
  background-color: aliceblue;
  border: 1px solid red;
}

.yearCard {
  position: absolute;
  height: 10rem;
  width: 100rem;
  border: 1px solid blue;
}
